{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<div class="row" >
  <div class="col-lg-6" >
    <div class="box-element" id="form-wrapper">
      <form id="form" > <!--- Form info -->
         <div id="user-info">
           <div class="form-field" >
            <input required class="form-control" type="text" name="name" placeholder="Name...">
           </div>
           <div class="form-field" >
            <input  required class="form-control" type="email" name="email" placeholder="email..." >
           </div>
           <div class="form-field" >
            <input  required class="form-control" type="number" name="phone" placeholder="+251... / 09..." >
           </div>
         </div>
            <div id="shipping-info" >
              <hr>
              <p>Sipping Info</p>
              <hr>
              <div class="form-field">
                <input class="form-control" type="text" name="adress" placeholder="Adress..">
              </div>
              <div class="form-field">
                <input class="form-control" type="text" name="city" placeholder="city..">
              </div>
              <div class="form-field">
                <input class="form-control" type="text" name="state" placeholder="state..">
              </div>
              <div class="form-field">
                <input class="form-control" type="text" name="zipcode" placeholder="Zip code..">
              </div>
              <div class="form-field">
                <input class="form-control" type="text" name="country" placeholder="Zip code..">
              </div>
            </div>
            
            <hr>
            <input id="form-button" class="btn btn-success btn-block" type="submit" value="continue" >
       </form> <!-- Form end -->
    </div>
    <br>
    <div class="box-element hidden" id="payment-info" >
      <small>Tele-Birr Option</small>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="box-element">
      <a class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to cart</a>
      <hr>
      <h3>order summary</h3>
      <hr>

      <div class="cart-row">
        <div style="flex:2"><img class="row-image" src="{% static 'images/placeholder.png' %}"></div>
        <div style="flex:2"><p>Product 1</p></div>
        <div style="flex:1"><p>Birr-20.00</p></div>
        <div style="flex:1"><p>x2</p></div>
      </div>
      <h5>Item: 2</h5>
      <h5>Total: Birr-40</h5>
    </div>
  </div>
</div>

{% endblock content %}